@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<SzemelyiEdzokSzemelyiEdzok.Models.Foglalasok>>
@using SzemelyiEdzokSzemelyiEdzok.Services.Implementations
@using SzemelyiEdzokSzemelyiEdzok.Models
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    var foglalasok = ViewBag.Foglalasok as Foglalasok[];
    SzemelyiEdzokManager szemelyiEdzokManager = new SzemelyiEdzokManager();
    foreach (Foglalasok foglalas in foglalasok)
    {
        foglalas.SzemelyiEdzoNev = szemelyiEdzokManager.GetSzemelyiEdzoNevByID(foglalas.SzemelyiEdzoID);
    }
}

<h2>Foglalások</h2>
<table>
    <thead>
        <tr>
            <th>Név</th>
            <th>Időpont</th>
            <th>Személyi edző</th>
            <th>Sport</th>
            <th>Megjegyzés</th>
        </tr>
    </thead>
    @foreach (Foglalasok foglalas in foglalasok)
    {
        <tr>
            <td>@foglalas.Nev</td>
            <td>@foglalas.Idopont.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@foglalas.SzemelyiEdzoNev</td>
            <td>@foglalas.Sport</td>
            <td>@foglalas.Megjegyzes</td>
        </tr>
    }
</table>