@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<SzemelyiEdzokSzemelyiEdzok.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@Dnn.LocalizeString("BasicSettings")</a></h2>
<fieldset>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.HotCakesApiKey, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.HotCakesApiKey)
    </div>
    <div class="dnnFormItem">
        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.SzemelyiEdzoID, new { @class = "col-md-2 control-label" })
        </div>
        @Html.TextBoxFor(m => Model.SzemelyiEdzoID)
    </div>
</fieldset>